<%= form_for(carga_parte_diario) do |f| %>
  <% if carga_parte_diario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carga_parte_diario.errors.count, "error") %> prohibited this carga_parte_diario from being saved:</h2>

      <ul>
      <% carga_parte_diario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dias_habiles %>
    <%= f.number_field :dias_habiles %>
  </div>

  <div class="field">
    <%= f.label :mes %>
    <%= f.text_field :mes %>
  </div>

  <div class="field">
    <%= f.label :anho %>
    <%= f.number_field :anho %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
