<p id="notice"><%= notice %></p>

<h1>REPORTE DE CONSULTA EXTERNA</h1>

<br><%= link_to 'Nuevo Carga Parte Diario', new_carga_parte_diario_path %></br>

<br><table>
  <thead>
    <tr>
      <th>Dias habiles</th>
      <th>Mes</th>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_parte_diarios.each do |carga_parte_diario| %>
      <tr>
        <td><%= carga_parte_diario.dias_habiles %></td>
        <td><%= carga_parte_diario.mes %></td>
        <td><%= carga_parte_diario.anho %></td>
        <td><%= link_to 'Mostrar', carga_parte_diario %></td>
        <td><%= link_to 'Editar', edit_carga_parte_diario_path(carga_parte_diario) %></td>
        <td><%= link_to 'Eliminar', carga_parte_diario, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></br>

<br>


