

<HTML>
<HEAD>
<link rel="stylesheet" href="print.css" type="text/css" media="print" />
</HEAD>
<BODY onLoad="window.print();">
<h2>RESUMEN DE CONSULTA EXTERNA</h2>

<p>
  <strong>Dias habiles:</strong>
  <%= @carga_parte_diario.dias_habiles %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @carga_parte_diario.mes %>
</p>

<p>
  <strong>Año:</strong>
  <%= @carga_parte_diario.anho %>
</p>


<br>
<table class="table table-striped" border=1>
  <thead>
  <tr>
  <th>Medico</th>
    <th>Carga horaria contrato</th>
    <th>Carga horaria consulta externa</th>
    <th>Consultas ofertadas</th>
    <th>Consulta programadas</th>
    <th>Rendimiento medico (paciente por hora)</th>
    <th>Horas trabajadas</th>
    <th>Rendimiento medico (paciente por dias)</th>
    <th>Dias trabajados</th>
    <th>Rendimiento porcentual</th>
    <th>Productividad porcentual</th>
    <th>Total</th>
    <th>Masculino</th>
  </tr>
  </thead>
  <tbody>
  <% @carga_parte_diario.carga_reportes.each do |carga_repo| %>
      <tr>
           <td>
          <%= carga_repo.medico %>
        </td>
        <td><center>
          <%= carga_repo.carga_horaria_contrato %></center>
        </td>
        <td>
          <%= carga_repo.carga_horaria_cons_ext %>
        </td>
        <td>
          <%= carga_repo.consultas_ofertadas %>
        </td>
        <td>
          <%= carga_repo.consultas_programadas %>
        </td>
        <td>
          <%= carga_repo.rendimiento_medico_hora %>
        </td>
        <td>
          <%= carga_repo.horas_trabajadas %>
        </td>
        <td>
          <%= carga_repo.rendimiento_medico_dia %>
        </td>
        <td>
          <%= carga_repo.dias_trabajados %>
        </td>
        <td>
          <%= carga_repo.rendimiento_porcentual %>
        </td>
        <td>
          <%= carga_repo.productividad %>
        </td>
        <td>
          <%= carga_repo.total %>
        </td>
        <td>
          <%= carga_repo.masculino %>
        </td>
        
      </tr>
  <% end %>
  </tbody>
</table>
</BODY>
