<p id="notice"><%= notice %></p>

<p>
  <strong>Dias habiles:</strong>
  <%= @carga_parte_diario.dias_habiles %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @carga_parte_diario.mes %>
</p>

<h2>RESUMEN DE CONSULTA EXTERNA</h2>

<p>
  <strong>Año:</strong>
  <%= @carga_parte_diario.anho %>
</p>


 <div align="right">
   <%=link_to "Ver Grafica", controller: "carga_parte_diarios", action: "grafica", id: @carga_parte_diario.id%>
  </div>
  <br>
<table class="table table-striped">
  <thead>
  <tr>
  <th>Medico</th>
    <th>Carga horaria contrato</th>
    <th>Carga horaria consulta externa</th>
    <th>Consultas ofertadas</th>
    <th>Consulta programadas</th>
    <th>Rendimiento medico (paciente por hora)</th>
    <th>Horas trabajadas</th>
    <th>Rendimiento medico (paciente por dias)</th>
    <th>Dias trabajados</th>
    <th>Rendimiento porcentual</th>
    <th>Productividad porcentual</th>
    <th>Total</th>
    <th>Masculino</th>
  </tr>
  </thead>
  <tbody>
  <% @carga_parte_diario.carga_reportes.each do |carga_repo| %>
      <tr>
           <td>
          <%= carga_repo.medico %>
        </td>
        <td>
          <%= carga_repo.carga_horaria_contrato %>
        </td>
        <td>
          <%= carga_repo.carga_horaria_cons_ext %>
        </td>
        <td>
          <%= carga_repo.consultas_ofertadas %>
        </td>
        <td>
          <%= carga_repo.consultas_programadas %>
        </td>
        <td>
          <%= carga_repo.rendimiento_medico_hora %>
        </td>
        <td>
          <%= carga_repo.horas_trabajadas %>
        </td>
        <td>
          <%= carga_repo.rendimiento_medico_dia %>
        </td>
        <td>
          <%= carga_repo.dias_trabajados %>
        </td>
        <td>
          <%= carga_repo.rendimiento_porcentual %>
        </td>
        <td>
          <%= carga_repo.productividad %>
        </td>
        <td>
          <%= carga_repo.total %>
        </td>
        <td>
          <%= carga_repo.masculino %>
        </td>
        
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Editar', edit_carga_parte_diario_path(@carga_parte_diario) %> |
<%= link_to 'Volver', carga_parte_diarios_path %>

<p>
<h2>Medicos de consulta externa</h2>

<div id="user"><!--style="display:none"--><br>
  <br><form method="GET">Nombre:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Medico" , class="btn btn-info">
  </form></br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
      <th>Especialidad</th>
    </tr>
    </thead>
    <tbody>Departamento
    <% @medicos.each do |medico| %>
        <tr>
           <td>
            <%= medico.name + " " + medico.last_name %>
          </td>
          <td>
            <%= medico.area.nombre %>
          </td>
          <td>
            <%= medico.speciality.nombre %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= medico.id %>">Agregar medico
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= medico.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar </h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@carga_parte_diario, @carga_parte_diario.carga_reportes.build]) do |f| %>
                        <%= f.label 'Carga horaria contrato: ' %>
                        <%= f.text_field :carga_horaria_contrato %>
                        <%= f.label 'Carga horaria consulta externa: ' %>
                        <%= f.text_field :carga_horaria_cons_ext %>
                        <%= f.label 'Consultas ofertadas: ' %>
                        <%= f.number_field :consultas_ofertadas %>
                        <%= f.label 'Consultas programadas: ' %>
                        <%= f.number_field :consultas_programadas %>
                        <%= f.label 'Rendimiento medico (pacientes por hora): ' %>
                        <%= f.number_field :rendimiento_medico_hora %>
                        <%= f.label 'Horas trabajadas: ' %>
                        <%= f.number_field :horas_trabajadas %>
                        <%= f.label 'Rendimiento medico (pacientes por dias): ' %>
                        <%= f.number_field :rendimiento_medico_dia %>
                        <%= f.label 'Dias trabajados: ' %>
                        <%= f.number_field :dias_trabajados %>
                        <%= f.label 'Rendimiento porcentual: ' %>
                        <%= f.number_field :rendimiento_porcentual %>
                        <%= f.label 'Productividad porcentual: ' %>
                        <%= f.number_field :productividad %>
                        <%= f.label 'Total: ' %>
                        <%= f.number_field :total %>
                        <%= f.hidden_field :area_id, :value => medico.area.id %>
                        <%= f.hidden_field :speciality_id, :value => medico.speciality.id %>
                        <%= f.hidden_field :carga_parte_diario_id, :value => @carga_parte_diario.id %>
                        <%= f.hidden_field :medico_id, :value => medico.id %>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

</p>



