<p id="notice"><%= notice %></p>

<h1>Carga Fisioterapia</h1>

<%= link_to 'Nuevo Reporte', new_carga_fisioterapium_path %>
<table>
  <thead>
    <tr>
      <th>Dias habiles</th>
      <th>Mes</th>
      <th>Anho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_fisioterapia.each do |carga_fisioterapium| %>
      <tr>
        <td><%= carga_fisioterapium.dias_habiles %></td>
        <td><%= carga_fisioterapium.mes %></td>
        <td><%= carga_fisioterapium.anho %></td>
        <td><%= link_to 'Mostrar', carga_fisioterapium %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


