<p id="notice"><%= notice %></p>

<h1>INFORME MEDICO PARTE DIARIO RAYOS X</h1>

<%= link_to 'Nuevo Parte Rayos X', new_parte_rayos_x_path %>

<table>
  <thead>
    <tr>
      <th>Medico</th>
      <th>Mes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_rayos_xes.each do |parte_rayos_x| %>
      <tr>
        <td><%= parte_rayos_x.user.name + " " + parte_rayos_x.user.last_name %></td>
        <td><%= parte_rayos_x.mes %></td>
        <td><%= link_to 'Mostrar', parte_rayos_x %></td>
        <td><%= link_to 'Editar', edit_parte_rayos_x_path(parte_rayos_x) %></td>
        <td><%= link_to 'Eliminar', parte_rayos_x, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


