  <br><%= form_for(paciente) do |f| %>
    <% if paciente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

          <ul>
            <% paciente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Nombre: ' %>
      <%= f.text_field :nombre %>
    </div>

    <div class="field">
      <%= f.label 'Apellido: ' %>
      <%= f.text_field :apellido %>
    </div>

    <div class="field">
      <%= f.label 'Sexo: ' %>
      <%= f.radio_button :sexo, 'Femenino', :checked => (:sexo == 'Femenino') %> Femenino
      <%= f.radio_button :sexo, 'Masculino', :checked => (:sexo == 'Masculino') %> Masculino
    </div>

    <div class="field">
    <%= f.label 'Fecha de nacimiento: ' %>
    <%= f.text_field :fecha_nacimiento, :size=> 10 %> <small>En este formato (dd/mm/aa)</small>
  </div>

    <div class="field">    
      <%= f.label :fuerza, 'Fuerza:' %><br>
      &nbsp;
      <%= f.label 'Ejercito'%>
      <%= f.radio_button :fuerza, "Ejército", class: "fuerza"%>
      &nbsp;
      <%= f.label :fuerza, 'FAB'%>
      <%= f.radio_button :fuerza, "FAB", checked: true, class: "fuerza"%>
      &nbsp;
      <%= f.label 'FNB'%>  
      <%= f.radio_button :fuerza, "FNB",  class: "fuerza"%>   
      &nbsp;
      <%= f.label 'Civil'%>
      <%= f.radio_button :fuerza, "Civil", class: "fuerza"%>                   
    </div>

    <div class="field">
      <%= f.label 'Grado: ' %>
      <%= f.select(:grado, options_for_select([['']])) %>
    </div>

    <div class="field">
      <%= f.label 'Matrícula titular: ' %>
      <%= f.text_field :matricula_titular %>
    </div>

    <div class="field">
      <%= f.label 'Matrícula paciente: ' %>
      <%= f.text_field :matricula_paciente %>
    </div>

    <div class="field">
      <%= f.label 'Carnet: ' %>
      <%= f.text_field :carnet %>
    </div>

    <div class="field">
      <%= f.label 'Grupo sanguíneo: ' %>
      <%= f.text_field :grupo_sanguineo %>
    </div>

    <div class="field">
      <%= f.label 'Nacionalidad: ' %>
      <%= f.text_field :nacionalidad %>
      <%= f.hidden_field :user_id, :value => current_user.id%>
    </div>

    <div class="field">    
      <%= f.label :tipo_asegurado, 'Tipo_asegurado:' %><br>
      &nbsp;
      <%= f.radio_button :tipo_asegurado, "Activo", class: "tipo_asegurado"%>
      <%= f.label 'Activo'%> 
      &nbsp;
      <%= f.radio_button :tipo_asegurado, "Pasivo",  class: "tipo_asegurado"%>
      <%= f.label 'Pasivo'%>      
      &nbsp;
      <%= f.radio_button :tipo_asegurado, "Sanidad operativa", class: "tipo_asegurado"%> 
      <%= f.label 'Sanidad operativa'%>                     
    </div>

    <div class="field">
      <%= f.label 'Letra de asegurado: ' %>
      <%= f.select(:letra_asegurado, options_for_select([['']])) %>
    </div>


    </br><div class="actions">
      <%= f.submit "Agregar" %>
    </div></br>
<% end %></br>



<script type="text/javascript">
  $(document).ready(function() {
    $(".fuerza").change(function(){

      if ($(this).val() == "Ejército") {
        var options = {
          'General de Fuerza': 'general de fuerza',
          'General de División': 'general de división',
          'General de Brigada': 'general de brigada',
          'Coronel': 'coronel',
          'Teniente Coronel': 'teniente coronel',
          'Mayor': 'mayor',
          'Capitán': 'capitán',
          'Teniente': 'teniente',
          'Subteniente': 'subteniente',
          'Cadete': 'cadete',
          'Suboficial Maestre': 'suboficial maestre',
          'Suboficial Mayor': 'suboficial mayor',
          'Suboficial Primero': 'suboficial primero',
          'Suboficial segundo': 'suboficial segundo',
          'Suboficial inicial': 'suboficial inicial',
          'Sargento Primero': 'sargento primero',
          'Sargento segundo': 'sargento segundo',
          'Sargente inicial': 'sargento inicial',
          'Alumno': 'alumno',
          'Cabo': 'cabo',
          'Dragoneante': 'dragoneante',
          'Soldado raso': 'soldado raso'
        }
      }

      if ($(this).val() == "FAB")  {
        var options = {
          'General de Fuerza': 'general de fuerza',
          'General de División': 'general de división',
          'General de Brigada': 'general de brigada',
          'Coronel': 'coronel',
          'Teniente Coronel': 'teniente coronel',
          'Mayor': 'mayor',
          'Capitán': 'capitán',
          'Teniente': 'teniente',
          'Subteniente': 'subteniente',
          'Cadete': 'cadete',
          'Suboficial Maestre': 'suboficial maestre',
          'Suboficial Mayor': 'suboficial mayor',
          'Suboficial Primero': 'suboficial primero',
          'Suboficial segundo': 'suboficial segundo',
          'Suboficial inicial': 'suboficial inicial',
          'Sargento Primero': 'sargento primero',
          'Sargento segundo': 'sargento segundo',
          'Sargente inicial': 'sargento inicial',
          'Alumno': 'alumno',
          'Cabo': 'cabo',
          'Dragoneante': 'dragoneante',
          'Soldado raso': 'soldado raso'
        }
      }


      if ($(this).val() == 'FNB') {
        var options = {
          'Almirante': 'almirante',
          'Vicealmirante': 'vicealmirante',
          'Contraalmirante': 'contraalmirante',
          'Capitán de navío': 'capitán',
          'Capitán de fragata': 'capitán de fragata',
          'Capitán de corbeta': 'capitán de corbeta',
          'Teniente de navío': 'teniente de navío',
          'Teniente de fragata': 'teniente de fragata',
          'Alférez': 'alférez',
          'Cadete': 'cadete',
          'Suboficial Maestre': 'suboficial maestre',
          'Suboficial Mayor': 'suboficial mayor',
          'Suboficial Primero': 'suboficial primero',
          'Suboficial segundo': 'suboficial segundo',
          'Suboficial inicial': 'suboficial inicial',
          'Sargento Primero': 'sargento primero',
          'Sargento segundo': 'sargento segundo',
          'Sargente inicial': 'sargento inicial',
          'Alumno': 'alumno',
          'Cabo': 'cabo',
          'Dragoneante': 'dragoneante',
          'Marinero': 'marinero'        }
      }      

      if ($(this).val() == 'Civil') {
        var options = {
          'Estudiante': 'estudiante',
          'Juez':'juez'
        }
      }

      $('#paciente_grado').empty();
      $.each(options, function(key, value){
        $('#paciente_grado').append('<option value="'+value+'">'+key+'</option>');
      });

    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $(".tipo_asegurado").change(function(){

      if ($(this).val() == "Activo") {
        var options = {
          'A': 'a',
          'B': 'b',
          'C': 'c',
          'Estudiante': 'estudiante',
          'Juez':'juez'
        }
      }

      if ($(this).val() == "Pasivo")  {
        var options = {
          'General de Fuerza': 'capitan',
          'General de División': 'capitan',
          'General de Brigada': 'capitan',
          'Coronel': 'capitan',
        }
      }


      if ($(this).val() == 'Sanidad operativa') {
        var options = {
          'Almirante': 'capitan',
          'Vicealmirante': 'capitan',
          'Contraalmirante': 'capitan',
          'Capitán de navío': 'capitan',
        }
      }      

      if ($(this).val() == 'Civil') {
        var options = {
          'Estudiante': 'estudiante',
          'Juez':'juez'
        }
      }

      $('#paciente_letra_asegurado').empty();
      $.each(options, function(key, value){
        $('#paciente_letra_asegurado').append('<option value="'+value+'">'+key+'</option>');
      });

    });
  });
</script>

