<!DOCTYPE html>
<html>
<head>
  <title></title>

  <script type="text/javascript">
  
  function fuerza(value) {
    if (value == "Ejercito") {
      document.getElementById("paciente_grado").disabled=true;
    }
    if (value == "FAB") {
      document.getElementById("paciente_grado").disabled=false;
    }
    if (value == "FNB") {
      document.getElementById("paciente_grado").disabled=true;
    }
    if (value == "Civil") {
      document.getElementById("paciente_grado").disabled=false;
    }
  }

</script>

</head>
<body>
  <br><%= form_for(paciente) do |f| %>
    <% if paciente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

          <ul>
            <% paciente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Nombre: ' %>
      <%= f.text_field :nombre %>
    </div>

    <div class="field">
      <%= f.label 'Apellido: ' %>
      <%= f.text_field :apellido %>
    </div>

    <div class="field">
      <%= f.label 'Sexo: ' %>
      <%= f.radio_button :sexo, 'Femenino', :checked => (:sexo == 'Femenino') %> Femenino
      <%= f.radio_button :sexo, 'Masculino', :checked => (:sexo == 'Masculino') %> Masculino
    </div>

    <div class="field">
    <%= f.label 'Fecha de nacimiento: ' %>
    <%= f.text_field :fecha_nacimiento, :size=> 10 %> <small>En este formato (dd/mm/aa)</small>
  </div>


    <div class="field">
      <%= f.label 'Matrícula titular: ' %>
      <%= f.text_field :matricula_titular %>
    </div>

    <div class="field">
      <%= f.label 'Fuerza: ' %>
      <%= f.select :fuerza, ['Ejercito', 'FAB', 'FNB', 'Civil'], {:onchange => "fuerza(this.value);"} %>
    </div>

    <div class="field">
      <%= f.label 'Matrícula paciente: ' %>
      <%= f.text_field :matricula_paciente %>
    </div>

    <div class="field">
      <%= f.label 'Carnet: ' %>
      <%= f.text_field :carnet %>
    </div>

    <div class="field">
      <%= f.label 'Grupo sanguíneo: ' %>
      <%= f.text_field :grupo_sanguineo %>
    </div>

    <div class="field">
      <%= f.label 'Nacionalidad: ' %>
      <%= f.text_field :nacionalidad %>
      <%= f.hidden_field :user_id, :value => current_user.id%>
    </div>

    <div class="field">
      <%= f.label 'Grado: ' %>
      <%= f.select :grado, ['h','n'] %>
    </div>

    <div class="field">
      <%= f.label 'Tipo de asegurado:' %>
      <%= f.select :tipo_asegurado, ['Activo', 'Pasivo', 'Sanidad operativa'] %>
    </div>

    <div class="field">
      <%= f.label 'Letra de asegurado:' %>
      <%= f.select :letra_asegurado, ['A', 'B', 'C', 'Z', 'Y', 'V', 'X', 'H', 'CAD', 'E' 'F', 'PM'] %>
    </div>

    </br><div class="actions">
      <%= f.submit "Agregar" %>
    </div></br>
<% end %></br>



</body>
</html>