<%= form_for(paciente) do |f| %>
    <% if paciente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

          <ul>
            <% paciente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Nombre: ' %>
      <%= f.text_field :nombre %>
    </div>

    <div class="field">
      <%= f.label 'Apellido: ' %>
      <%= f.text_field :apellido %>
    </div>

    <div class="field">
      <%= f.label 'Sexo: ' %>
      <%= f.text_field :sexo %>
    </div>

    <div class="field">
      <%= f.label 'Matricula titular: ' %>
      <%= f.text_field :matricula_titular %>
    </div>

    <div class="field">
      <%= f.label 'Fuerza: ' %>
      <%= f.text_field :fuerza %>
    </div>

    <div class="field">
      <%= f.label 'Matricula paciente: ' %>
      <%= f.text_field :matricula_paciente %>
    </div>

    <div class="field">
      <%= f.label 'Carnet: ' %>
      <%= f.text_field :carnet %>
    </div>

    <div class="field">
      <%= f.label 'Grupo sanguineo: ' %>
      <%= f.text_field :grupo_sanguineo %>
    </div>

    <div class="field">
      <%= f.label 'Nacionalidad: ' %>
      <%= f.text_field :nacionalidad %>
      <%= f.hidden_field :user_id, :value => current_user.id%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
