<p id="notice"><%= notice %></p>

<h1>PACIENTES</h1>

<br><%= link_to 'REGISTRAR NUEVO PACIENTE', new_paciente_path %></br>

<br><table>
  <thead>
    <tr>
      <th><center>NOMBRE</center></th>
      <th><center>APELLIDO</center></th>
      <th><center>MATRÍCULA TITULAR</center></th>
      <th><center>MATRÍCULA PACIENTE</center></th>
      <th><center>FUERZA</center></th>
      <th><center>GRADO</center></th>
      <th><center>TIPO DE ASEGURADO</center></th>
      <th><cewnter>LETRA DE ASEGURADO</cewnter></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacientes.reverse!.each do |paciente| %>
      <tr>
        <td><center><%= paciente.nombre %></center></td>
        <td><center><%= paciente.apellido %></center></td>
        <td><center><%= paciente.matricula_titular %></center></td>
        <td><center><%= paciente.matricula_paciente %></center></td>
        <td><center><%= paciente.fuerza %></center></td>
        <td><center><%= paciente.grado %></center></td>
        <td><center><%= paciente.tipo_asegurado %></center></td>
        <td><center><%= paciente.letra_asegurado %></center></td>
        <td><%= link_to 'Mostrar', paciente %></td>
        <td><%= link_to 'Editar', edit_paciente_path(paciente) %></td>
        <td><%= link_to 'Eliminar', paciente, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></br>

<br>
