<p id="notice"><%= notice %></p>

<h1>Parte Emergencia</h1>

<table>
  <thead>
    <tr>
      
      <th>Mes</th>
      <th>Enfermera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_emergencia.each do |parte_emergencium| %>
      <tr>
        
        <td><%= parte_emergencium.mes %></td>
        <td><%= parte_emergencium.enfermera %></td>
        <td><%= link_to 'Mostrar', parte_emergencium %></td>
        <td><%= link_to 'Editar', edit_parte_emergencium_path(parte_emergencium) %></td>
        <td><%= link_to 'Eliminar', parte_emergencium, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Parte Emergencias', new_parte_emergencium_path %>
