<p id="notice"><%= notice %></p>

<p>
<h2><center>PARTE DIARIO EMERGENCIA</center></h2>
</p>

<center><table>
 <tr>
  <td class="uno">

    <p>
      <strong>Nombre médico:</strong>
      <%= @parte_emergencium.user.name + " " + @parte_emergencium.user.last_name %>
    </p>

  </td>
  <td class="dos">

    <p>
      <strong>Mes:</strong>
      <%= @parte_emergencium.mes %>
    </p>

  <td class="tres">

    <p>
      <strong>Año:</strong>
      <%= @parte_emergencium.anho %>
    </p>
        
      </td>
    </tr>
  </td>
</table></center>

<%= link_to 'Editar', edit_parte_emergencium_path(@parte_emergencium) %> |
<%= link_to 'Volver', parte_emergencia_path %>

<p>
<h2>INFORME MÉDICO PARTE DIARIO DE EMERGENCIA</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>CARNET DL ASEGURADO</th>
    <th>CARNET DEL BENEFICIARIO</th>
    <th>NOMBRE Y APELLIDOS</th>
    <th><center>FUERZA</center></th>
    <th><cneter>GRADO</cneter></th>
    <th>TIPO DE ASEGURADO</th>
    <th>EDAD</th>
    <th><center>SEXO</center></th>
    <th><center>T</center></th>
    <th><center>P</center></th>
    <th><center>PA</center></th>
    <th><center>DIAGNÓSTICO</center></th>
    <th><center>TRATAMIENTO</center></th>
    <th><center>OBSERVACIONES</center></th>
    <th><center>ENFERMERA</center></th>
    <th><center>CONSULTA</center></th>
  </tr>
  </thead>
  <tbody>
  <% @parte_emergencium.paciente_reporte_emergencia.reverse!.each do |paciente_reporte_emergencia| %>
      <tr>
      	<td><center>
          <%= paciente_reporte_emergencia.paciente.matricula_titular %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.paciente.matricula_paciente %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.paciente.nombre + " " + paciente_reporte_emergencia.paciente.apellido %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.paciente.fuerza %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.paciente.grado %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.paciente.tipo_asegurado %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.edad %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.paciente.sexo %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.t %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.p %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.pa %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.diagnostico %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.tratamiento %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.observaciones %>        
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.enfermera %>
        </td></center>
        <td><center>
          <%= paciente_reporte_emergencia.fecha_consulta.strftime("%d/%m/%Y - %H:%M") %>
        </td></center>
      </tr>
  <% end %>
  </tbody>
</table>
</p>


<p>
<h2>AGREGAR PACIENTE AL PARTE DIARIO</h2>
</p>
<div id="paciente"><!--style="display:none"--><br>
  <br><form method="GET">Nombre / Carnet:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Paciente" , class="btn btn-info">
    <button><%= link_to 'Nuevo Paciente', new_paciente_path %></button>
  </form></br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Carnet</th>
    </tr>
    </thead>
    <tbody>
    <% @pacientes.each do |paciente| %>
        <tr>
          <td>
            <%= paciente.nombre + " " + paciente.apellido %>
          </td>
          <td>
            <%= paciente.carnet %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= paciente.id %>">Agregar a
                parte
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= paciente.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar a Parte</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@parte_emergencium, @parte_emergencium.paciente_reporte_emergencia.build]) do |f| %>
                        <br><%= f.label 'Edad: ' %>
                        <%= f.number_field :edad , value: paciente.getAge, readonly: true %>
                        <%= f.label 'Diagnóstico: ' %>
                        <%= f.text_area :diagnostico %>
                        <%= f.label 'Tratamiento: ' %>
                        <%= f.text_area :tratamiento %>  
                        <%= f.label 'Signos vitales: ' %>
                        <%= f.label 'T: ' %>
                        <%= f.text_field :t %>
                        <%= f.label 'P: ' %>
                        <%= f.text_field :p %>
                        <%= f.label 'PA: ' %>
                        <%= f.text_field :pa %>
                        <%= f.label 'Observaciones: ' %>
                        <%= f.text_field :observaciones %>
                        <%= f.label 'Enfermera: ' %>
                        <%= f.text_field :enfermera %>
                        <%= f.hidden_field :paciente_id, :value => paciente.id %>
                        <%= f.hidden_field :parte_emergencium_id, :value => @parte_emergencium.id %></br>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div><center>
    <%= will_paginate @pacientes, :previous_label => '<- Anterior', :next_label => 'Siguiente ->' %>
  </center>
</div>
<br><br><br>



