<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @speciality.nombre %>
</p>

<p>
  <strong>Area:</strong>
  <%= @speciality.area.nombre %>
</p>

<%= link_to 'Editar', edit_speciality_path(@speciality) %> |
<%= link_to 'Volver', specialities_path %>
