<p id="notice"><%= notice %></p>

<h1>Paciente Reportes</h1>

<table>
  <thead>
    <tr>
      <th>Pacientes</th>
      <th>Parte diarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paciente_reportes.each do |paciente_reporte| %>
      <tr>
        <td><%= paciente_reporte.pacientes %></td>
        <td><%= paciente_reporte.parte_diarios %></td>
        <td><%= link_to 'Show', paciente_reporte %></td>
        <td><%= link_to 'Edit', edit_paciente_reporte_path(paciente_reporte) %></td>
        <td><%= link_to 'Destroy', paciente_reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paciente Reporte', new_paciente_reporte_path %>
