<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> Usuario no puede ser guardado:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p><%= f.label :password, "Nueva Contraseña" %><br/>
      <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, "Confirmar Contraseña" %><br/>
      <%= f.password_field :password_confirmation %></p>

    <div class="actions">
      <%= f.submit "Cambiar Contraseña" %>
    </div>
<% end %>