<%= form_for(carga_reporte_dental) do |f| %>
  <% if carga_reporte_dental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carga_reporte_dental.errors.count, "error") %> prohibited this carga_reporte_dental from being saved:</h2>

      <ul>
      <% carga_reporte_dental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label 'Medico: ' %>
    <%= current_user.name + " " +current_user.last_name%>
    <%= f.hidden_field :current_user_id, :value => current_user.id%>
  </div>

  <div class="field">
    <%= f.label :carga_dentals_id %>
    <%= f.text_field :carga_dentals_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
