<p id="notice"><%= notice %></p>

<h1>Carga Reporte Dental</h1>

<br><%= link_to 'Nuevo Carga Reporte Dental', new_carga_reporte_dental_path %></br>

<br><table>
  <thead>
    <tr>
      <th>Medicos</th>
      <th>Carga horaria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_reporte_dentals.each do |carga_reporte_dental| %>
      <tr>
        <td><%= carga_reporte_dental.users %></td>
        <td><%= carga_reporte_dental.carga_dentals %></td>
        <td><%= link_to 'Mostrar', carga_reporte_dental %></td>
        <td><%= link_to 'Editar', edit_carga_reporte_dental_path(carga_reporte_dental) %></td>
        <td><%= link_to 'Destroy', carga_reporte_dental, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></br>

<br>


