<p id="notice"><%= notice %></p>

<p>
  <strong>Medicos:</strong>
  <%= @carga_reporte_dental.current_users %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @carga_reporte_dental.carga_dentals %>
</p>


<%= link_to 'Editar', edit_carga_reporte_dental_path(@carga_reporte_dental) %> |
<%= link_to 'Volver', carga_reporte_dentals_path %>
