<%= form_for(carga_laboratorio) do |f| %>
  <% if carga_laboratorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carga_laboratorio.errors.count, "error") %> prohibited this carga_laboratorio from being saved:</h2>

      <ul>
      <% carga_laboratorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Localidad: ' %>
    <%= current_user.localidad%>
    <%= f.hidden_field :localidad, :value => current_user.localidad %>
  </div>

  <div class="field">
    <%= f.label 'Días hábiles: ' %>
    <%= f.number_field :dias_habiles %>
  </div>

  <div class="field">
    <%= f.label 'Mes: ' %>
    <%= f.text_field :mes, value: l(Date.today, format: :short), readonly:true %>
  </div>

  <div class="field">
    <%= f.label 'Año: ' %>
    <%= f.number_field :anho, value: Date.today.year, readonly:true%>
  </div>


  <br><div class="actions">
    <%= f.submit "Crear reporte"%>
  </div></br>
<% end %>
