<p id="notice"><%= notice %></p>

<h2><center>RESUMEN DEL NÚMERO DE PACIENTES POR TIPO DE ASEGURADO Y CLASE DE EXÁMENES DE LABORATORIO CLASIFICADOS POR TIPO DE ATENCIÓN, ESPECIALIDAD</center></h2>

<div class="row">
  <div class="col-md-3">
    <p>
      <strong>REGIONAL:</strong>
      <%= @carga_laboratorio.user.localidad %>
    </p>
  </div>

  <div class="col-md-3">
    <p>
      <strong>DÍAS HÁBILES:</strong>
      <%= @carga_laboratorio.dias_habiles %>
    </p>
  </div>

  <div class="col-md-3">
    <p>
      <strong>MES:</strong>
      <%= @carga_laboratorio.mes %>
    </p>

  </div>
  <div class="col-md-3">
    <p>
      <strong>AÑO:</strong>
      <%= @carga_laboratorio.anho %>
    </p>
  </div>
</div>

<%= link_to 'Editar', edit_carga_laboratorio_path(@carga_laboratorio) %> |
<%= link_to 'Volver', carga_laboratorios_path %>


<div align="right">
   <br><%=link_to "Gráfica por exámenes", controller: "carga_laboratorios", action: "grafica_examen", id: @carga_laboratorio.id%></br>
   <br><%=link_to "Imprimir Reporte", controller: "carga_laboratorios", action: "print", id: @carga_laboratorio.id%></br>
  </div>
  <br>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Tipo de atención y especialidad</th>
    <th>Total</th>
    <th>Activo A</th>
    <th>Activo B</th>
    <th>Activo C</th>
    <th>Pasivo Z</th>
    <th>Pasivo Y</th>
    <th>Pasivo V</th>
    <th>Pasivo X</th>
    <th>Sanidad operativa CAD</th>
    <th>Sanidad operativa E</th>
    <th>Sanidad operativa F</th>
    <th>Sanidad operativa PM</th>
    <th>Total examenes</th>
    <th>Hematología</th>
    <th>Bioquímica</th>
    <th>Serología</th>
    <th>Orinas</th>
    <th>Heces</th>
    <th>Grupo de sangre</th>
    
  </tr>
  </thead>
  <tbody>
  <% @carga_laboratorio.carga_reporte_laboratorios.each do |carga_repo_labo| %>
      <tr>
        <td>
          <%= carga_repo_labo.speciality %>
        </td>
        <td>
          <%= carga_repo_labo.total %>
        </td>
        <td>
          <%= carga_repo_labo.letraA %>
        </td>
        <td>
          <%= carga_repo_labo.letraB %>
        </td>
        <td>
          <%= carga_repo_labo.letraC %>
        </td>
        <td>
          <%= carga_repo_labo.letraZ %>
        </td>
        <td>
          <%= carga_repo_labo.letraY %>
        </td>
        <td>
          <%= carga_repo_labo.letraV %>
        </td>
        <td>
          <%= carga_repo_labo.letraX %>
        </td>
        <td>
          <%= carga_repo_labo.letraX %>
        </td>
        <td>
          <%= carga_repo_labo.letraX %>
        </td>
        <td>
          <%= carga_repo_labo.letraX %>
        </td>
        <td>
          <%= carga_repo_labo.letraCAD %>
        </td>
        <td>
          <%= carga_repo_labo.letraE %>
        </td>
        <td>
          <%= carga_repo_labo.letraF %>
        </td>
        <td>
          <%= carga_repo_labo.letraPM %>
        </td>
        <td>
          <%= carga_repo_labo.hematologia %>
        </td>
        <td>
          <%= carga_repo_labo.bioquimica %>
        </td>
        <td>
          <%= carga_repo_labo.serologia %>
        </td>
        <td>
          <%= carga_repo_labo.orinas %>
        </td>
        <td>
          <%= carga_repo_labo.heces %>
        </td>
        <td>
          <%= carga_repo_labo.gsanguineo %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
</p>





<p>
<h2>Especialidades</h2>
</p>
<div id="speciality"><!--style="display:none"--><br>
  <br><form method="GET">Nombre:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Especialidad" , class="btn btn-info">
    <!--  -->
  </form></br>


  <br><table class="table table-striped">
    <thead>
    <tr>
      <th>Áreas</th>
      <th>Especialidad</th>
    </tr>
    </thead>
    <tbody>
    <% @areas.each do |area| %>    
        <tr>
          <td>
            <%= area.nombre %>
          </td>
          <td>
            <%= speciality.nombre %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= speciality.id %>">Agregar Especialidad
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= medico.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar </h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@carga_laboratorio, @carga_laboratorio.carga_reporte_laboratorios.build]) do |f| %>
                        <%= f.label 'Total: ' %>
                        <%= f.number_field :total %>
                        <%= f.label 'Total examenes: ' %>
                        <%= f.number_field :total_examenes %>  
                        <%= f.hidden_field :carga_laboratorio_id, :value => @carga_dental.id %>
                        <%= f.hidden_field :speciality_id, :value => speciality.id %>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table></br>

</div>

<div><center>
    <%= will_paginate @specialities, :previous_label => '<- Anterior', :next_label => 'Siguiente ->' %>
  </center>
</div>
<br><br><br>





