<%= form_for(parte_diario) do |f| %>
  <% if parte_diario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parte_diario.errors.count, "error") %> prohibited this parte_diario from being saved:</h2>

      <ul>
      <% parte_diario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label 'Mes: ' %>
    <%= f.text_field :mes, value: l(Date.today, format: :short), readonly:true %>
  </div>

  <div class="field">
    <%= f.label 'Especialidad: ' %>
    <%= current_user.area.nombre%>
    <%= f.hidden_field :area_id, :value => current_user.area%>
    
  </div>

  <div class="field">
    <%= f.label 'Servicio de: ' %>
    <%= current_user.speciality.nombre%>
    <%= f.hidden_field :speciality_id, :value => current_user.speciality%>
    
  </div>

  <div class="field">
    <%= f.label 'Médico: ' %>
    <%= current_user.name + " " +current_user.last_name%>
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>

  <div class="field">
    <%= f.label 'Clave: ' %>
    <%= current_user.clave%>
  </div>

  <div class="field">
    <%= f.label 'Inicio de consulta: ' %>
    <%= f.time_select :inicio_consulta %>
  </div>

  <div class="field">
    <%= f.label 'Fin de consulta: ' %>
    <%= f.time_select :fin_consulta %>
  </div>

  <div class="field">
    <%= f.label 'Enfermera: ' %>
    <%= f.text_field :enfermera %>
  </div>

  </br><div class="actions">
      <%= f.submit "Crear parte diario" %>
  </div></br>
<% end %>
