<p id="notice"><%= notice %></p>

<h1>INFORME MEDICO PARTE DIARIO CONSULTORIO EXTERNO</h1>

<br><%= link_to 'Nuevo Parte Diario', new_parte_diario_path %></br>

<br><table>
  <thead>
    <tr>
      <th>Mes</th>
      <th>Especialidad</th>
      <th>Servicio de</th>
      <th>Nombre medico</th>
      <th>Clave</th>
      <th>Inicio consulta</th>
      <th>Fin consulta</th>
      <th>Enfermera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_diarios.each do |parte_diario| %>
      <tr>
        <td><%= parte_diario.mes %></td>
        <td><%= parte_diario.especialidad %></td>
        <td><%= parte_diario.servicio_de %></td>
        <td><%= parte_diario.user.name + " " + parte_diario.user.last_name %></td>
        <td><%= parte_diario.clave %></td>
        <td><%= parte_diario.inicio_consulta %></td>
        <td><%= parte_diario.fin_consulta %></td>
        <td><%= parte_diario.enfermera %></td>
        <td><%= link_to 'Mostrar', parte_diario %></td>
        <td><%= link_to 'Editar', edit_parte_diario_path(parte_diario) %></td>
        <td><%= link_to 'Eliminar', parte_diario, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></br>

<br>


