<p id="notice"><%= notice %></p>

<h1>INFORME MÉDICO PARTE DIARIO CONSULTORIO EXTERNO</h1>


<br><center><table>
  <thead>
    <tr>
      <th><center>NOMBRE MÉDICO</center></th>
      <th><center>ESPECIALIDAD</center></th>
      <th><center>MES</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_diarios.reverse!.each do |parte_diario| %>
      <tr>
        <td><center><%= parte_diario.user.name + " " + parte_diario.user.last_name %></center></td>
        <td><center><%= parte_diario.user.speciality.nombre %></center></td>
        <td><center><%= parte_diario.mes %></center></td>
        <td><%= link_to 'Mostrar', {:controller => "parte_diarios", :action => "mostrar", :id => parte_diario.id } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table></center></br>

<br>


