<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @parte_diario.mes %>
</p>

<p>
  <strong>Servicio de:</strong>
  <%= @parte_diario.servicio_de %>
</p>

<p>
  <strong>Nombre medico:</strong>
  <%= @parte_diario.nombre_medico %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @parte_diario.clave %>
</p>

<p>
  <strong>Inicio consulta:</strong>
  <%= @parte_diario.inicio_consulta %>
</p>

<p>
  <strong>Fin consulta:</strong>
  <%= @parte_diario.fin_consulta %>
</p>

<p>
  <strong>Enfermera:</strong>
  <%= @parte_diario.enfermera %>
</p>

<%= link_to 'Edit', edit_parte_diario_path(@parte_diario) %> |
<%= link_to 'Back', parte_diarios_path %>
