<%= form_for(parte_laboratorio) do |f| %>
  <% if parte_laboratorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parte_laboratorio.errors.count, "error") %> prohibited this parte_laboratorio from being saved:</h2>

      <ul>
      <% parte_laboratorio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mes %>
    <%= f.text_field :mes, value: l(Date.today, format: :short), readonly:true %>
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>

  </br><div class="actions">
      <%= f.submit "Crear parte diario" %>
  </div></br>
<% end %>
