<p id="notice"><%= notice %></p>

<h1>INFORME MÉDICO PARTE DIARIO LABORATORIO</h1>


<table>
  <thead>
    <tr>
      <th><center>Nombre</center></th>
      <th><center>Mes</center></th>
      <th><center>Especialidad</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_laboratorios.each do |parte_laboratorio| %>
      <tr>
        <td><%= parte_laboratorio.user.name + " " + parte_laboratorio.user.last_name %></td>
        <td><%= parte_laboratorio.mes %></td>
        <td><%= parte_laboratorio.user.speciality.nombre %></td>
        <td><%= link_to 'Mostrar', {:controller => "parte_laboratorios", :action => "mostrar", :id => parte_laboratorio.id } %></td>  parte_laboratorio %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


