<p id="notice"><%= notice %></p>

<p>
<h2><center>PARTE DIARIO LABORATORIO</center></h2>
</p>

<center><table>
 <tr>
  <td class="uno">

    <p>
      <strong>Mes:</strong>
      <%= @parte_laboratorio.mes %>
    </p>

  </td>
  <td class="dos">

    <p>
      <strong>Localidad:</strong>
      <%= @parte_laboratorio.user.localidad %>
    </p>
    

  <td class="tres">

    <p>
  <strong>Establecimiento:</strong>
  <%= @parte_laboratorio.user.establecimiento %>
</p>
    

      </td>
    </tr>
  </td>
</table></center>


<p>
<h2>INFORME MÉDICO PARTE DIARIO DE LABORATORIO</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>CARNET DEL ASEGURADO</th>
    <th>NONMBRE Y APELLIDO</th>
    <th>EDAD</th>
    <th>SEXO</th>
    <th>TIPO DE ASEGURADO</th>
    <th>FUERZA</th>
    <th>PROCEDENCIA</th>
    <th>HEMATOLOGÍA</th>
    <th>BIOQUÍMICA</th>
    <th>SEROLOGÍAS</th>
    <th>ORINAS</th>
    <th>HECES</th>
    <th>GRUPO SANGUÍNEO</th>
    <th>NOMBRE DEL LABORATORIO</th>
  </tr>
  </thead>
  <tbody>
  <% @parte_laboratorio.paciente_reporte_laboratorios.each do |paciente_repo_labo| %>
      <tr>
        <td>
          <%= paciente_repo_labo.paciente.matricula_titular %>
        </td>
        <td>
          <%= paciente_repo_labo.paciente.nombre + " " + paciente_repo_labo.paciente.apellido %>
        </td>
        <td>
          <%= paciente_repo_labo.edad %>
        </td>
        <td>
          <%= paciente_repo_labo.paciente.sexo %>
        </td>
        <td>
          <%= paciente_repo_labo.paciente.tipo_asegurado %>
        </td>
        <td>
          <%= paciente_repo_labo.paciente.fuerza %>
        </td>
        <td>
          <%= paciente_repo_labo.procedencia %>
        </td>
        <td>
          <%= paciente_repo_labo.hematologia %>
        </td>
        <td>
          <%= paciente_repo_labo.bioquimica %>
        </td>
        <td>
          <%= paciente_repo_labo.serologia %>
        </td>
        <td>
          <%= paciente_repo_labo.orinas %>
        </td>
        <td>
          <%= paciente_repo_labo.heces %>
        </td>
        <td>
          <%= paciente_repo_labo.gsanguineo %>
        </td>
        
        <td>
          <%= paciente_repo_labo.speciality.nombre %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Editar', edit_parte_laboratorio_path(@parte_laboratorio) %> |
<%= link_to 'Volver', parte_laboratorios_path %>


<p>
<h2>AGREGAR PACIENTE AL PARTE DIARIO</h2>
</p>

<div id="paciente"><!--style="display:none"--><br>
  <br><form method="GET">Nombre:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Paciente" , class="btn btn-info">
    <button><%= link_to 'Nuevo Paciente', new_paciente_path %></button>
  </form></br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Carnet</th>
    </tr>
    </thead>
    <tbody>
    <% @pacientes.each do |paciente| %>
        <tr>
          <td>
            <%= paciente.nombre + " " + paciente.apellido %>
          </td>
          <td>
            <%= paciente.carnet %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= paciente.id %>">Agregar al
                parte
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= paciente.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar al Parte</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@parte_laboratorio, @parte_laboratorio.paciente_reporte_laboratorios.build]) do |f| %>
                        <br>
                        <%= f.label 'Edad: ' %>
                        <%= f.number_field :edad %>
                        <%= f.label 'Procedencia: ' %>
                        <%= f.radio_button :procedencia, 'C.E.', :checked => (:procedencia == 'C.E.') %> C.E.
                        <%= f.radio_button :procedencia, 'H', :checked => (:procedencia == 'H') %> H
                        <%= f.label 'Hematología: ' %>
                        <%= f.text_field :hematologia %>
                        <%= f.label 'Bioquímica: ' %>
                        <%= f.text_field :bioquimica %>
                        <%= f.label 'Serologías: ' %>
                        <%= f.number_field :serologia %>
                        <%= f.label 'Orinas: ' %>
                        <%= f.number_field :orinas %>
                        <%= f.label 'Heces: ' %>
                        <%= f.number_field :heces %>
                        <%= f.label 'Grupo Sanguíneo: ' %>
                        <%= f.text_field :gsanguineo %>
                        
                        <%= f.label 'Área: ' %>
                        <%= collection_select(:paciente_reporte_laboratorio, :area_id, Area.all, :id, :nombre) %>
                        <%= f.label 'Especialidad: ' %>
                        <%= collection_select(:paciente_reporte_laboratorio, :speciality_id, Speciality.all, :id, :nombre) %>
                        <%= f.hidden_field :paciente_id, :value => paciente.id %>
                        <%= f.hidden_field :parte_laboratorio_id, :value => @parte_laboratorio.id %></br>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>


<div><center>
    <%= will_paginate @pacientes, :previous_label => '<- Anterior', :next_label => 'Siguiente ->' %>
  </center>
</div>
<br><br><br>



