<p id="notice"><%= notice %></p>

<h1>Parte Fisioterapia</h1>

<table>
  <thead>
    <tr>
      <th>Turno</th>
      <th>Mes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_fisioterapia.each do |parte_fisioterapium| %>
      <tr>
        <td><%= parte_fisioterapium.turno %></td>
        <td><%= parte_fisioterapium.mes %></td>
        <td><%= link_to 'Show', parte_fisioterapium %></td>
        <td><%= link_to 'Edit', edit_parte_fisioterapium_path(parte_fisioterapium) %></td>
        <td><%= link_to 'Destroy', parte_fisioterapium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parte Fisioterapium', new_parte_fisioterapium_path %>
