<p id="notice"><%= notice %></p>

<h1>Paciente Serviciocomplementarios</h1>

<table>
  <thead>
    <tr>
      <th>Estudio</th>
      <th>Diagnostico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paciente_serviciocomplementarios.each do |paciente_serviciocomplementario| %>
      <tr>
        <td><%= paciente_serviciocomplementario.estudio %></td>
        <td><%= paciente_serviciocomplementario.diagnostico %></td>
        <td><%= link_to 'Show', paciente_serviciocomplementario %></td>
        <td><%= link_to 'Edit', edit_paciente_serviciocomplementario_path(paciente_serviciocomplementario) %></td>
        <td><%= link_to 'Destroy', paciente_serviciocomplementario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paciente Serviciocomplementario', new_paciente_serviciocomplementario_path %>
