<div class="container jumbotron" style="background-image: url('/images/cbba.png')" style="width:700px;">
  <div class="well opacity" style="background-color:gray;">
    <h2 class="text-center">Iniciar sesión</h2>
    <%= form_for(resource, as: resource_name, :html => {class: "form-horizontal", role:"form"}, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <div class="control-label col-md-3">
            <%= f.label 'Correo electrónico' %><br />
        </div>
        <div class="col-md-9">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
            <%= f.label 'Contraseña' %><br />
        </div>
        <div class="col-md-9">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
        <div class="control-label col-md-6">
          <%= f.label 'Recuérdame' %>
        </div>
        <div class="col-md-1">
          <%= f.check_box :remember_me, class: "form-control" %>
        </div>
        <% end -%>
      </div>


      <div class="form-group">
        <div class="col-md-offset-5 col-md-3">
            <%= f.submit "Iniciar sesión", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    <% end %>

    <hr>
    <div class="col-md-offset-5">
        <%= render "devise/shared/links" %>
    </div>
    <hr>
  </div>
</div>
