<p id="notice"><%= notice %></p>

<h1>INFORME MÉDICO PARTE DIARIO DENTAL</h1>


<br><table>
  <thead>
    <tr>
      <th>Nombre médico</th>
      <th>Especialidad</th>
      <th>Mes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_dentals.reverse!.each do |parte_dental| %>
      <tr>
        <td><%= parte_dental.user.name + " " + parte_dental.user.last_name %></td>
        <td><%= parte_dental.user.area.nombre %></td>
        <td><%= parte_dental.mes %></td>
        <td><%= link_to 'Mostrar', {:controller => "parte_dentals", :action => "mostrar", :id => parte_dental.id } %></td>

      </tr>
    <% end %>
  </tbody>
</table></center></br>

<br>


