<p id="notice"><%= notice %></p>

<h1>INFORME MÉDICO PARTE DIARIO DENTAL</h1>


<br><table>
  <thead>
    <tr>
      <th>Nombre médico</th>
      <th>Especialidad</th>
      <th>Mes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parte_dentals.each do |parte_dental| %>
      <tr>
        <td><%= parte_dental.user.name + " " + parte_dental.user.last_name %></td>
        <td><%= parte_dental.user.speciality.nombre %></td>
        <td><%= parte_dental.mes %></td>
        <td><%= link_to 'Mostrar', parte_dental %></td>
        <td><%= link_to 'Editar', edit_parte_dental_path(parte_dental) %></td>
        <td><%= link_to 'Eliminar', parte_dental, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></center></br>

<br>


