<p id="notice"><%= notice %></p>

<p>
<h2>PARTE DIARIO DENTAL</h2>
</p>

<p>
  <strong>Mes:</strong>
  <%= @parte_dental.mes %>
</p>

<p>
  <strong>Nombre del odontologo:</strong>
  <%= @parte_dental.user.name + " " + @parte_dental.user.last_name %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @parte_dental.user.clave %>
</p>

<p>
  <strong>Inicio consulta:</strong>
  <%= @parte_dental.inicio_consulta %>
</p>

<p>
  <strong>Fin consulta:</strong>
  <%= @parte_dental.fin_consulta %>
</p>

<p>
  <strong>Enfermera:</strong>
  <%= @parte_dental.enfermera %>
</p>

<p>
  <strong>Establecimiento:</strong>
  <%= @parte_dental.user.establecimiento %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @parte_dental.user.localidad %>
</p>

<p>
<h2>INFORME MÉDICO PARTE DIARIO DE DENTAL</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre y apellidos del paciente</th>
    <th>Carnet del asegurado</th>
    <th>Carnet del beneficiario</th>
    <th>Edad</th>
    <th>Sexo</th>
    <th>Tipo de consulta</th>
    <th>Tipo de asegurado</th>
    <th>Fuerza</th>
    <th>Diagnostico</th>
    <th>Tratamiento</th>
  </tr>
  </thead>
  <tbody>
  <% @parte_dental.paciente_reporte_dentals.each do |paciente_repo_dentals| %>
      <tr>
        <td>
          <%= paciente_repo_dentals.paciente.nombre + " " + paciente_repo_dentals.paciente.apellido %>
        </td>
        <td>
          <%= paciente_repo_dentals.paciente.matricula_titular %>
        </td>
        <td>
          <%= paciente_repo_dentals.paciente.matricula_paciente %>
        </td>
        <td>
          <%= paciente_repo_dentals.edad %>
        </td>
        <td>
          <%= paciente_repo_dentals.paciente.sexo %>
        </td>
        <td>
          <%= paciente_repo_dentals.tipo_consulta %>
        </td>
        <td>
          <%= paciente_repo_dentals.paciente.tipo_asegurado %>
        </td>
        <td>
          <%= paciente_repo_dentals.paciente.fuerza %>
        </td>
        <td>
          <%= paciente_repo_dentals.diagnostico %>
        </td>
        <td>
          <%= paciente_repo_dentals.tratamiento %>
        </td>
        
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Editar', edit_parte_dental_path(@parte_dental) %> |
<%= link_to 'Volver', parte_dentals_path %>

<p>
<h2>AGREGAR PACIENTE AL PARTE DIARIO</h2>

<div id="paciente"><!--style="display:none"--><br>
  <br><form method="GET">Nombre:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Paciente" , class="btn btn-info">
    <button><%= link_to 'Nuevo Paciente', new_paciente_path %></button>
  </form></br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Carnet</th>
    </tr>
    </thead>
    <tbody>
    <% @pacientes.each do |paciente| %>
        <tr>
          <td>
            <%= paciente.nombre + " " + paciente.apellido %>
          </td>
          <td>
            <%= paciente.carnet %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= paciente.id %>">Agregar al
                parte
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= paciente.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar a Parte</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@parte_dental, @parte_dental.paciente_reporte_dentals.build]) do |f| %>
                        <%= f.label 'Diagnostico: ' %>
                        <%= f.text_field :diagnostico %>
                        <%= f.label 'Tratamiento: ' %>
                        <%= f.text_field :tratamiento %>
                        <%= f.label 'Edad: ' %>
                        <%= f.number_field :edad %>
                        <%= f.label 'Tipo de consulta: ' %>
                        <%= f.radio_button :tipo_consulta, 'Nueva', :checked => (:tipo_consulta == 'Nueva') %> Nueva
                        <%= f.radio_button :tipo_consulta, 'Repetida', :checked => (:tipo_consulta == 'Repetida') %> Repetida
                        <%= f.hidden_field :paciente_id, :value => paciente.id %>
                        <%= f.hidden_field :parte_dental_id, :value => @parte_dental.id %>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

</p>




