<p id="notice"><%= notice %></p>

<h1>Carga Reportes</h1>

<table>
  <thead>
    <tr>
      <th>Medicos</th>
      <th>Carga horaria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_reportes.each do |carga_reporte| %>
      <tr>
        <td><%= carga_reporte.users %></td>
        <td><%= carga_reporte.carga_parte_diarios %></td>
        <td><%= link_to 'Show', carga_reporte %></td>
        <td><%= link_to 'Edit', edit_carga_reporte_path(carga_reporte) %></td>
        <td><%= link_to 'Destroy', carga_reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carga Reporte', new_carga_reporte_path %>
