<p id="notice"><%= notice %></p>

<p>
  <strong>Médicos:</strong>
  <%= @carga_reporte.current_users %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @carga_reporte.carga_parte_diarios %>
</p>

<%= link_to 'Editar', edit_carga_reporte_path(@carga_reporte) %> |
<%= link_to 'Volver', carga_reportes_path %>
