<p id="notice"><%= notice %></p>

<h1>REPORTE DE EMERGENCIA</h1>

<br><%= link_to 'Nuevo Carga Emergencia', new_carga_emergencium_path %></br>

</br><table>
  <thead>
    <tr>
      <th>Dias habiles</th>
      <th>Mes</th>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_emergencia.each do |carga_emergencium| %>
      <tr>
        <td><%= carga_emergencium.dias_habiles %></td>
        <td><%= carga_emergencium.mes %></td>
        <td><%= carga_emergencium.anho %></td>
        <td><%= link_to 'Mostrar', carga_emergencium %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


