<p id="notice"><%= notice %></p>

<p>
  <strong>Dias habiles:</strong>
  <%= @carga_emergencium.dias_habiles %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @carga_emergencium.mes %>
</p>

<p>
  <strong>Anho:</strong>
  <%= @carga_emergencium.anho %>
</p>


<p>
<h2>Pacientes del Parte Diario Emergencia</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Consulta por hora</th>
    <th>Horas trabajadas</th>
    <th>Pacientes por dia</th>
    <th>Dias trabajados</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <% @carga_emergencium.carga_reporte_emergencia.each do |carga_reporte_emergencia| %>
      <tr>
      	<td>
          <%= carga_reporte_emergencia.consulta_hora %>
        </td>
        <td>
          <%= carga_reporte_emergencia.horas_trabajadas %>
        </td>
        <td>
          <%= carga_reporte_emergencia.pacientes_dias %>
        </td>
        <td>
          <%= carga_reporte_emergencia.dias_trabajados %>
        </td>
        <td>
          <%= carga_reporte_emergencia.total %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<p>
<h2>Agregar Medico</h2>

<div id="user"><!--style="display:none"--><br>
  <br><form method="GET">Nombre:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Medico" , class="btn btn-info">
    <button><%= link_to 'Nuevo Medico', new_user_path %></button>
  </form></br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |medico| %>
        <tr>
          <td>
            <%= medico.nombre + " " + medico.apellido %>
          </td>
          <td>
            <%= medico.user.departamento %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= user.id %>">Agregar medico
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@carga_emergencium, @carga_emergencium.carga_reporte_emergencia.build]) do |f| %>
                        <%= f.label 'Consulta por hora: ' %>
                        <%= f.number_field :consulta_hora %>
                        <%= f.label 'Horas trabajadas: ' %>
                        <%= f.number_field :horas_trabajadas %>
                        <%= f.label 'Pacientes por dia: ' %>
                        <%= f.number_field :pacientes_dias %>
                        <%= f.label 'Dias trabajados: ' %>
                        <%= f.number_field :dias_trabajados %>
                        <%= f.label 'Total: ' %>
                        <%= f.number_field :total %>
                        <%= f.hidden_field :carga_emergencium_id, :value => @carga_emergencium.id %>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>x
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

</p>


<%= link_to 'Edit', edit_carga_emergencium_path(@carga_emergencium) %> |
<%= link_to 'Back', carga_emergencia_path %>
