<p id="notice"><%= notice %></p>

<h2>RESUMEN MENSUAL DE CONSULTA MÉDICA DE EMERGENCIA CLASIFICADOS POR MÉDICOS, SEXO, TIPO DE CONSULTA Y CLASE DE ASEGURADO</h2>

<p>
  <strong>Dias habiles:</strong>
  <%= @carga_emergencium.dias_habiles %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @carga_emergencium.mes %>
</p>

<p>
  <strong>Año:</strong>
  <%= @carga_emergencium.anho %>
</p>


<p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre del médico</th>
    <th>Consulta por hora</th>
    <th>Horas trabajadas</th>
    <th>Pacientes por dia</th>
    <th>Dias trabajados</th>
    <th>Total</th>
    <th>Masculino Nuevos</th>
    <th>Masculino Repetidos</th>
    <th>Femenino Nuevo</th>
    <th>Femenino Repetido</th>
    <th>Activo A</th>
    <th>Activo B</th>
    <th>Activo C</th>
    <th>Pasivo Z</th>
    <th>Pasivo Y</th>
    <th>Pasivo V</th>
    <th>Pasivo X</th>
    <th>Pasivo H</th>
    <th>Sanidad operativa CAD</th>
    <th>Sanidad operativa E</th>
    <th>Sanidad operativa F</th>
    <th>Sanidad operativa PM</th>
  </tr>
  </thead>
  <tbody>
  <% @carga_emergencium.carga_reporte_emergencia.each do |carga_reporte_emergencia| %>
      <tr>
      	<td>
          <%= carga_reporte_emergencia.consulta_hora %>
        </td>
        <td>
          <%= carga_reporte_emergencia.horas_trabajadas %>
        </td>
        <td>
          <%= carga_reporte_emergencia.pacientes_dias %>
        </td>
        <td>
          <%= carga_reporte_emergencia.dias_trabajados %>
        </td>
        <td>
          <%= carga_reporte_emergencia.total %>
        </td>
        <td>
          <%= carga_repo_dentals.masculinoN %>
        </td>
        <td>
          <%= carga_repo_dentals.masculinoR %>
        </td>
        <td>
          <%= carga_repo_dentals.femeninoN %>
        </td>
        <td>
          <%= carga_repo_dentals.femeninoR %>
        </td>
        <td>
          <%= carga_repo_dentals.letraA %>
        </td>
        <td>
          <%= carga_repo_dentals.letraB %>
        </td>
        <td>
          <%= carga_repo_dentals.letraC %>
        </td>
        <td>
          <%= carga_repo_dentals.letraZ %>
        </td>
        <td>
          <%= carga_repo_dentals.letraY %>
        </td>
        <td>
          <%= carga_repo_dentals.letraV %>
        </td>
        <td>
          <%= carga_repo_dentals.letraX %>
        </td>
        <td>
          <%= carga_repo_dentals.letraH %>
        </td>
        <td>
          <%= carga_repo_dentals.letraCAD %>
        </td>
        <td>
          <%= carga_repo_dentals.letraE %>
        </td>
        <td>
          <%= carga_repo_dentals.letraF %>
        </td>
        <td>
          <%= carga_repo_dentals.letraPM %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Editar', edit_carga_emergencium_path(@carga_emergencium) %> |
<%= link_to 'Volver', carga_emergencia_path %>

<p>
<h2>Médicos de emergencia</h2>
</p>



  <br><table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
    </tr>
    </thead>
    <tbody>
    <% @medicos.each do |medico| %>
        <tr>
          <td>
            <%= medico.name + " " + medico.last_name %>
          </td>
          <td>
            <%= medico.area.nombre %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= medico.id %>">Agregar medico
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= medico.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@carga_emergencium, @carga_emergencium.carga_reporte_emergencia.build]) do |f| %>
                        <%= f.label 'Consulta por hora: ' %>
                        <%= f.number_field :consulta_hora %>
                        <%= f.label 'Horas trabajadas: ' %>
                        <%= f.number_field :horas_trabajadas %>
                        <%= f.label 'Pacientes por dia: ' %>
                        <%= f.number_field :pacientes_dias %>
                        <%= f.label 'Dias trabajados: ' %>
                        <%= f.number_field :dias_trabajados %>
                        <%= f.label 'Total: ' %>
                        <%= f.number_field :total %>
                        <%= f.hidden_field :carga_emergencium_id, :value => @carga_emergencium.id %>
                        <%= f.hidden_field :medico_id, :value => medico.id %>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>x
          </td>
        </tr>
    <% end %>
    </tbody>
  </table></br>

</div>

<div><center>
    <%= will_paginate @medicos, :previous_label => '<- Anterior', :next_label => 'Siguiente ->' %>
  </center>
</div>
<br><br><br>



