<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @carga_reporte_laboratorio.total %>
</p>

<p>
  <strong>Total examenes:</strong>
  <%= @carga_reporte_laboratorio.total_examenes %>
</p>

<%= link_to 'Editar', edit_carga_reporte_laboratorio_path(@carga_reporte_laboratorio) %> |
<%= link_to 'Volver', carga_reporte_laboratorios_path %>
