<%= form_for(medico) do |f| %>
  <% if medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medico.errors.count, "error") %> prohibited this medico from being saved:</h2>

      <ul>
      <% medico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
  </div>

  <div class="field">
    <%= f.label :carnet %>
    <%= f.text_field :carnet %>
  </div>

<div class="field">
    <%= f.label :area %>
    <%= collection_select(:medico, :area_id, Area.all, :id, :nombre) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
