<p id="notice"><%= notice %></p>

<p>
  <strong>Medicos:</strong>
  <%= @carga_reporte_emergencium.current_users %>
</p>

<p>
  <strong>Carga horaria:</strong>
  <%= @carga_reporte_emergencium.carga_emergencia %>
</p>

<%= link_to 'Editar', edit_carga_reporte_emergencium_path(@carga_reporte_emergencium) %> |
<%= link_to 'volver', carga_reporte_emergencia_path %>
