<%= form_for(carga_dental) do |f| %>
  <% if carga_dental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carga_dental.errors.count, "error") %> prohibited this carga_dental from being saved:</h2>

      <ul>
      <% carga_dental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Mes: ' %>
    <%= f.text_field :mes, value: l(Date.today, format: :short), readonly:true %>
  </div>

  <div class="field">
    <%= f.label 'Días habiles: ' %>
    <%= f.number_field :dias_habiles %>
  </div>

  
  <br><div class="actions">
    <%= f.submit "Crear reporte"%>
  </div></br>
<% end %>
