<p id="notice"><%= notice %></p>

<h1>REPORTE DE DENTAL</h1>

<br><%= link_to 'Nuevo Reporte Dental', new_carga_dental_path %></br>

<br><table>
  <thead>
    <tr>
      <th>Mes</th>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_dentals.each do |carga_dental| %>
      <tr>
        <td><%= carga_dental.mes %></td>
        <td><%= carga_dental.anho %></td>
        <td><%= link_to 'Mostrar', {:controller => "carga_dentals", :action => "mostrar_dental", :id => carga_dental.id } %></td> 
      </tr>
    <% end %>
  </tbody>
</table></br>

<br>


