<p id="notice"><%= notice %></p>

<h1>REPORTE DE DENTAL</h1>

<br><%= link_to 'Nuevo Carga Dental', new_carga_dental_path %></br>

<br><table>
  <thead>
    <tr>
      <th>Mes</th>
      <th>Dias habiles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carga_dentals.each do |carga_dental| %>
      <tr>
        <td><%= carga_dental.mes %></td>
        <td><%= carga_dental.dias_habiles %></td>
        <td><%= link_to 'Mostrar', carga_dental %></td>
        <td><%= link_to 'Editar', edit_carga_dental_path(carga_dental) %></td>
        <td><%= link_to 'Eliminar', carga_dental, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></br>

<br>


