<p id="notice"><%= notice %></p>

<h2>RESUMEN DE DENTAL</h2>

<p>
  <strong>Mes:</strong>
  <%= @carga_dental.mes %>
</p>

<p>
  <strong>Dias habiles:</strong>
  <%= @carga_dental.dias_habiles %> 
</p>


<p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre del médico</th>
    <th>Observaciones</th>
    <th>Horas trabajadas</th>
    <th>Consulta por hora</th>
    <th>Horas trabajadas</th>
    <th>Pacientes por dia</th>
    <th>Dias trabajados</th>
    <th>Consulta programadas</th>
    <th>Total</th>
    <th>Masculino Nuevos</th>
    <th>Masculino Repetidos</th>
    <th>Femenino Nuevo</th>
    <th>Femenino Repetido</th>
    <th>Activo A</th>
    <th>Activo B</th>
    <th>Activo C</th>
    <th>Pasivo Z</th>
    <th>Pasivo Y</th>
    <th>Pasivo V</th>
    <th>Pasivo X</th>
    <th>Pasivo H</th>
    <th>Sanidad operativa CAD</th>
    <th>Sanidad operativa E</th>
    <th>Sanidad operativa F</th>
    <th>Sanidad operativa PM</th>
    
  </tr>
  </thead>
  <tbody>
  <% @carga_dental.carga_reporte_dentals.each do |carga_repo_dentals| %>
      <tr>
        <td>
          <%= carga_repo_dentals.medico %>
        </td>
        <td>
          <%= carga_repo_dentals.observaciones %>
        </td>
        <td>
          <%= carga_repo_dentals.horas_trabajadas %>
        </td>
        <td>
          <%= carga_repo_dentals.consulta_hora %>
        </td>
        <td>
          <%= carga_repo_dentals.hrs_trabajadas %>
        </td>
        <td>
          <%= carga_repo_dentals.pacientes_dias %>
        </td>
        <td>
          <%= carga_repo_dentals.dias_trabajados %>
        </td>
        <td>
          <%= carga_repo_dentals.consultas_programadas %>
        </td>
        <td>
          <%= carga_repo_dentals.total %>
        </td>
        <td>
          <%= carga_repo_dentals.masculinoN %>
        </td>
        <td>
          <%= carga_repo_dentals.masculinoR %>
        </td>
        <td>
          <%= carga_repo_dentals.femeninoN %>
        </td>
        <td>
          <%= carga_repo_dentals.femeninoR %>
        </td>
        <td>
          <%= carga_repo_dentals.letraA %>
        </td>
        <td>
          <%= carga_repo_dentals.letraB %>
        </td>
        <td>
          <%= carga_repo_dentals.letraC %>
        </td>
        <td>
          <%= carga_repo_dentals.letraZ %>
        </td>
        <td>
          <%= carga_repo_dentals.letraY %>
        </td>
        <td>
          <%= carga_repo_dentals.letraV %>
        </td>
        <td>
          <%= carga_repo_dentals.letraX %>
        </td>
        <td>
          <%= carga_repo_dentals.letraH %>
        </td>
        <td>
          <%= carga_repo_dentals.letraCAD %>
        </td>
        <td>
          <%= carga_repo_dentals.letraE %>
        </td>
        <td>
          <%= carga_repo_dentals.letraF %>
        </td>
        <td>
          <%= carga_repo_dentals.letraPM %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
</p>


<%= link_to 'Editar', edit_carga_dental_path(@carga_dental) %> |
<%= link_to 'Volver', carga_dentals_path %>

<p>
<h2>Médicos de dental</h2>
</p>

<div id="user"><!--style="display:none"--><br>
  <br><form method="GET">Nombre:
    <input type="text" name="name"> &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar Medico" , class="btn btn-info">
    <!--  -->
  </form></br>


  <br><table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre del médico</th>
      <th>Departamento</th>
      <th>Especialidad</th>
    </tr>
    </thead>
    <tbody>
    <% @medicos.each do |medico| %>    
        <tr>
          <td>
            <%= medico.name + " " + medico.last_name %>
          </td>
          <td>
            <%= medico.area.nombre %>
          </td>
          <td>
            <%= medico.speciality.nombre %>
          </td>
          <td>
            <div align="right">
              <button class="btn btn-default" data-toggle="modal" data-target="#myModal-<%= medico.id %>">Agregar medico
              </button>
            </div>
            <div class="modal fade" id="myModal-<%= medico.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Agregar </h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([@carga_dental, @carga_dental.carga_reporte_dentals.build]) do |f| %>
                        <%= f.label 'Observaciones: ' %>
                        <%= f.text_field :observaciones %>
                        <%= f.label 'Horas trabajadas: ' %>
                        <%= f.number_field :horas_trabajadas %>
                        <%= f.label 'Consulta por hora: ' %>
                        <%= f.number_field :consulta_hora %>
                        <%= f.label 'Horas trabajadas: ' %>
                        <%= f.number_field :hrs_trabajadas %>
                        <%= f.label 'pacientes por dias: ' %>
                        <%= f.number_field :pacientes_dias %>
                        <%= f.label 'Dias trabajados: ' %>
                        <%= f.number_field :dias_trabajados %>
                        <%= f.label 'Consultas programadas: ' %>
                        <%= f.number_field :consultas_programadas %>
                        <%= f.label 'Total: ' %>
                        <%= f.number_field :total %>
                        <%= f.hidden_field :carga_dental_id, :value => @carga_dental.id %>
                        <%= f.hidden_field :medico_id, :value => medico.id %>
                        <br><%= f.submit "Agregar", class: "btn btn-default" %></br>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table></br>

</div>


<div><center>
    <%= will_paginate @medicos, :previous_label => '<- Anterior', :next_label => 'Siguiente ->' %>
  </center>
</div>
<br><br><br>



