<!DOCTYPE html>
<html>
<head>
  <title>Cossmil</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
<%= render 'layouts/header' %>
<div id="wrapper">
  <div class="container">
    <br>
    <% flash.each do |key, value| %>
        
    <% end %>
    <%= yield %>
    <br>
  </div>
  <br>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
